@model TheMoviePlug.Models.Filmes

@{
    ViewData["Title"] = "Edit";
}


<style>

    body {
        background-color: rgb(0, 0, 0, 0.80);
    }

    label {
        color: #ffb727;
    }

    hr {
        background-color: white;
    }
</style>


<body>
    @{ if (User.IsInRole("Gestor"))
        {
            <h1>Editar Filme</h1>
            <hr />
            <br />

            <div class="row">
                <div class="col-md-5">
                    <form asp-action="Edit" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Titulo" class="control-label"></label>
                            <input asp-for="Titulo" class="form-control" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Imagem" class="control-label"></label>
                            <input type="file" name="capaFilme" accept=".jpg,.jpeg,.png" style="color:blue;" /><br />
                            <input asp-for="Imagem" class="form-control" readonly />
                            <span asp-validation-for="Imagem" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Categoria" class="control-label"></label>
                            <input asp-for="Categoria" class="form-control" />
                            <span asp-validation-for="Categoria" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Lancamento" class="control-label"></label>
                            <input asp-for="Lancamento" class="form-control" />
                            <span asp-validation-for="Lancamento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Classificacao" class="control-label"></label>
                            <input asp-for="Classificacao" class="form-control" />
                            <span asp-validation-for="Classificacao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Realizador" class="control-label"></label>
                            <input asp-for="Realizador" class="form-control" />
                            <span asp-validation-for="Realizador" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Elenco" class="control-label"></label>
                            <input asp-for="Elenco" class="form-control" />
                            <span asp-validation-for="Elenco" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sinopse" class="control-label"></label>
                            <textarea asp-for="Sinopse" class="form-control" style="width: 580px; height:350px"></textarea>
                            <span asp-validation-for="Sinopse" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Visibilidade" /> @Html.DisplayNameFor(model => model.Visibilidade)
                            </label>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a class="btn btn-outline-secondary" asp-action="Index">Voltar à 'Lista de Filmes'</a>
            </div>

        }
        else
        {
            <div style="text-align:center">
                <h2 style="color:red">Não é possível editar um Filme pois é preciso autenticar-se como Gestor!</h2>
                <hr />
                <h4>Para aceder a este recurso precisa de registrar-se como Gestor, ou, se já tiver uma conta de Gestor, efetue o login.</h4>
            </div>
        }
    }

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>