@model TheMoviePlug.Models.Links

@{
    ViewData["Title"] = "Create";
}


<body>

    <div style="text-align:center">
        <h2 style="color:red">Não é possível adicionar um Link desta forma!</h2>
        <hr style="background-color: white" />
        <h4>Para poder adicionar um Link a um Filme precisa de estar autenticado e aceder à página do respetivo Filme.</h4>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>


@*
    <h1>Create</h1>

    <h4>Links</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="URL" class="control-label"></label>
                    <input asp-for="URL" class="form-control" />
                    <span asp-validation-for="URL" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Visivel" /> @Html.DisplayNameFor(model => model.Visivel)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="UtilizadorFK" class="control-label"></label>
                    <select asp-for="UtilizadorFK" class ="form-control" asp-items="ViewBag.UtilizadorFK"></select>
                </div>
                <div class="form-group">
                    <label asp-for="FilmeFK" class="control-label"></label>
                    <select asp-for="FilmeFK" class ="form-control" asp-items="ViewBag.FilmeFK"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
*@

