@model TheMoviePlug.Models.Links

@{
    ViewData["Title"] = "Edit";
}


<style>
    body {
        background-color: rgb(0, 0, 0, 0.80);
    }

    label, h1 {
        color: #ffb727;
    }

    hr {
        background-color: white;
    }
</style>


<body>

    @{ if (User.Identity.Name.ToLower() == Model.Utilizador.Email)
        {
            <h1>Editar Link</h1>
            <hr />
            <br />

            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="URL" class="control-label"></label>
                            <input asp-for="URL" class="form-control" />
                            <span asp-validation-for="URL" class="text-danger"></span>
                        </div>

                        <div class="form-group" style="display: none">
                            <label asp-for="UtilizadorFK" class="control-label"></label>
                            <select asp-for="UtilizadorFK" class="form-control" asp-items="ViewBag.UtilizadorFK" disabled></select>
                            <span asp-validation-for="UtilizadorFK" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: none">
                            <label asp-for="FilmeFK" class="control-label"></label>
                            <select asp-for="FilmeFK" class="form-control" asp-items="ViewBag.FilmeFK" disabled></select>
                            <span asp-validation-for="FilmeFK" class="text-danger"></span>
                        </div>

                        <div class="form-group form-check" style="display: none">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Visivel" /> @Html.DisplayNameFor(model => model.Visivel)
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a class="btn btn-outline-secondary" asp-action="Index">Voltar à 'Lista de Links'</a>
            </div>
        }
        else
        {
            <div style="text-align:center">
                <h2 style="color:red">Apenas o Utilizador que adicionou este Link pode editar o mesmo!</h2>
                <hr />
                <h4>Se é o Utilizador que adicionou este Link e pretende aceder a este recurso: por favor, efetue o login.</h4>
            </div>
        }
    }

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</body>